.navArrowsContainer {
  position: absolute;
}

.leftArrowCool {
  -webkit-appearance: none;
  padding: 0;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: large;
  border-radius: 50%;
  color: #FFEF62;
  background-color: #4E4AFF;
  font-weight: bold;
}

.rightArrowCool {
  -webkit-appearance: none;
  padding: 0;
  margin-left: 0.3rem;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: large;
  color: #FFEF62;
  background-color: #4E4AFF;
  border-radius: 50%;
  font-weight: bold;
}

.leftArrowWarm {
  -webkit-appearance: none;
  padding: 0;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: large;
  border-radius: 50%;
  color: #4E4AFF;
  background-color: #FFEF62;
  font-weight: bold;
}

.rightArrowWarm {
  -webkit-appearance: none;
  padding: 0;
  margin-left: 0.3rem;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: large;
  color: #4E4AFF;
  background-color: #FFEF62;
  border-radius: 50%;
  font-weight: bold;
}

/* Disable hover on mobile because it was leading to
buttons looking disabled when they were not */
@media (min-width: 992px) {
  .leftArrowWarm:hover,
  .leftArrowCool:hover,
  .rightArrowWarm:hover,
  .rightArrowCool:hover {
    opacity: 0.9;
    background-color: black;
  }
}

.leftArrowWarm:disabled,
.leftArrowCool:disabled,
.rightArrowWarm:disabled,
.rightArrowCool:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@-moz-document url-prefix() {
  .navArrowsContainer {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}
