.wrapper {
  padding: 5rem;
}
.nounWrapper {
  width: 100%;
  align-self: flex-start;
}

.nounContentCol {
  padding-right: 5rem;
  display: flex;
}

.topWrapper {
  margin-bottom: 10px;
}

.followStory {
  padding: 5px 10px;
  font-family: 'New York';
  font-size: 21px;
  text-decoration: none;
  border-radius: 20px;
}

.auctionActivityCol {
  /* padding-left: 5rem; */
  padding-bottom: 0rem;
  min-height: 520px;
  align-self: flex-start !important;
}

.title {
  font-family: Cypher;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 96px;
  margin-bottom: 1vw;
  display: flex;
  align-items: center;
  -webkit-text-stroke-width: 2px;

  color: #4e4aff;
}

@media (max-width: 576px) {
  .title {
    margin-bottom: 1rem !important;
  }
}

@media (max-width: 992px) {
  .wrapper {
    padding: 1rem;
  }
  .nounWrapper {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .auctionActivityCol {
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    width: 100%;
    background-color: transparent;
  }
}

@media (max-width: 568px) {
  .auctionActivityCol {
    width: 100%;
    margin-left: unset;
    margin-right: unset;
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-right: unset;
    padding-left: 0;
  }

  .nounWrapper {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2rem;
  }

  .nounContentCol {
    padding: 0rem;
  }
}
